//pagina de quienes somos
.contenedorCards {
    padding-top: 15px;
}
.card-title {
    font-family: 'Lobster', cursive;
    font-size: 25px;
    color: black;
    
}

.card-text {
    font-family: 'Lobster', cursive;
    font-size: 20px;
    color: black;
    
}

.card-body {
    background: radial-gradient(circle, #2e832a 3%, #52f409 39%, #2ca323 80%);
}